<h1>Burgers!</h1>

<h2>Burgers Ready to eat</h2>

<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burger-block eat=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burger-block eat=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Make a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="eaten">Ready For deliciousness?</label><br>
    <input type="radio" name="eaten" value="0"> Prepare Burger
  </div>

  <button type="submit">Add Burger</button>
</form>
