li {
    padding: 5px;
    margin: 10px;
    background-color:whitesmoke;
  }
  
  .label {
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  body{
    margin: 0 auto;
    width: 600px;
    background-color: blanchedalmond;
    text-align: center;
  }

  .title{
    border: solid 2px black;
  }

  